body{
		background-image: url("https://deanneedham.files.wordpress.com/2012/10/the-games-logo.jpg");
		background-size: cover;
	}
	p{
		color: red;
	}
	#game_theory{
		color: yellow;
		font-size: 18px;
	}
	#intro{
		color: orange;
		font-size: 20px;
	}
	.header {
		color: blue;
	}